:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue: #2d58a3;
  --light-blue: #5f96f7;
  --black: #101010;
  --gray: #c7c7cf;
  --light-gray: #ebeef4;
  --white: #fff;
  --gold: #a39e2d;
  --yellow: #ebed66;
  --red: #e74b3a;
  --h-margin: 1.5rem;
  --v-margin: 1.5rem;
  --big: 5vw;
  --medium: 2.5vw;
  --small: 1vw;
  --xsmall: 0.8vw;
}

@media (max-width: 768px) {
  :root {
    --big: 12vw;
    --medium: 2.5vw;
    --small: 3.2vw;
    --xsmall: 3vw;
    --h-margin: 1rem;
    --v-margin: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "ivyora-text", serif;
  font-weight: 500;
  font-size: 1.12vw;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--black);
  background: var(--gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ivyora-display", serif;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

main,
footer {
  padding: 2vw;
}

footer {
  background-color: var(--light-gray);
  color: var(--black);
}


